<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <h1>Hello, Customer!</h1>
  <p>
    Thank you for your purchase. Here is the confirmation of your order.
  </p>

  <ul>
  <% @order.line_items.each do |line_item| %>
    <% if product = Product.find_by(id: line_item.product_id) %>
      <li>Item: <%= product.name %></li>
      <li>Quantity: <%= line_item.quantity %></li>
      <li>Total: <%= product.price * line_item.quantity %></li>
    <% end %>
  <% end %>
  </ul>
</body>
</html>