<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
<h1>Hello, <%= @user_name %> </h1>
<p>
  Thank you for your purchase.<br>
  Here is your purchase records:
</p>
<p>Order: <%= @order %></p>

<table>
  <tr>
    <td>Product: </td>
    <td>Item Price</td>
    <td>Quantity</td>
    <td>Total_price</td>
  </tr>


  <tr>
    <td>Total amount:</td>
    <td></td>
  </tr>

</table>

<p>
  Thank you again for your purchase!
</p>
</html>